:root {
  --c-text: rgba(0,0,0,0.8);
  --c-bg: #fff;
}

.dark {
  --c-text: #ebf4f1;
  --c-bg: #121518;
}

.sepia {
  --c-text: #433422;
  --c-bg: #f1e7d0;
}

:root {
  --nav-height: 90px;
  --page-height: calc(100vh - 49px);
}

html, body {
  color: var(--c-text);
  background-color: var(--c-bg);
  height: 100vh;
}

.content {
  @apply min-h-var(--page-height) pt-var(--nav-height) pb-12 px-10;
}