:root {
  --c-text: rgba(0,0,0,0.8);
  --c-bg: #fff;
}

html.dark {
  --c-text: #ebf4f1;
  --c-bg: #121518;
}

html.sepia {
  --c-text: #433422;
  --c-bg: #eadec2;
  filter: unset;
}

:root {
  --nav-height: 90px;
  --page-height: calc(100vh - 49px);
}

html, body {
  color: var(--c-text);
  background-color: var(--c-bg);
  height: 100vh;
}

.content {
  --at-apply: min-h-var(--page-height) pt-var(--nav-height) pb-12 px-4 sm:px-6 lg:px-8;
}

.nuxt-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 0%;
  opacity: 1;
  transition: width 0.1s, height 0.4s, opacity 0.4s;
  background: repeating-linear-gradient(to right,#00dc82 0%,#34cdfe 50%,#0047e1 100%);
  z-index: 999999;
}